<app-header></app-header>
<app-sections #appSection></app-sections>
<app-form #mainForm [section]="appSection.currentSection"></app-form>
<app-match [finalFormValues]="mainForm.finalFormValues" [callToActionBtnAfterSubmit]="mainForm.callToActionBtn"></app-match>
<app-footer></app-footer>
