<div fxFlex="70" fxFlexOffset="15" class="overlay-wrapper" fxLayoutAlign="center space-around">
  <div fxLayout="row" class="full-width container">
    <div fxFlex="70" fxLayoutAlign="space-around" fxFlexOffset="15" class="best-match">

      <div fxLayout="row" class="match-content full-width">
        <div fxFlex="20" fxFlexOffset="10" class="col-1">
          <div class="name">
            <h3>
              <ng-container *ngIf="nameExists('first name') || nameExists('both')">{{ this.bestMatch.data[0].first_name }} </ng-container>
              <ng-container *ngIf="nameExists('last name') || nameExists('both')">{{ this.bestMatch.data[0].last_name }}</ng-container>
              <ng-container *ngIf="nameExists('none')">User{{ this.bestMatch.data[0].uid }}</ng-container>
            </h3>
            <span class="age" *ngIf="bestMatch && bestMatch.data[0].date_of_birth"> ({{ getAge() }})</span>
            <p class="location" *ngIf="bestMatch">
              <ng-container *ngIf="bestMatch.data[0].city">{{bestMatch.data[0].city}}</ng-container>
              <ng-container *ngIf="bestMatch.data[0].city && bestMatch.data[0].country">, </ng-container>
              <ng-container *ngIf="bestMatch.data[0].country">{{bestMatch.data[0].country}}</ng-container>
            </p>
          </div>
          <img class="profile-img" [src]="bestMatch && bestMatch.data[0].profile_image ? 'api/public/uploads/profile-images/' + bestMatch.data[0].profile_image : 'assets/img/user-128.png'" alt="User">
          <div class="call-to-action-area" matTooltip="The request has already been sent" [matTooltipDisabled]="!callToActionBtnAfterSubmit">
            <button [disabled]="callToActionBtn" (click)="sendTask()" mat-button class="call-to-action">
              <i class="material-icons">send</i> Send request
            </button>
          </div>
      </div>
        <div fxFlex="70" class="col-2">
          <div class="rank" *ngIf="bestMatch && bestMatch.rank.relative">{{bestMatch.rank.relative | number: '1.0-0'}}%</div>
          <h2>Best match</h2>
          <mat-list role="list" class="match-list">
            <mat-list-item *ngIf="bestMatch && bestMatch.data[0].milestones === '1'">
              <mat-icon mat-list-icon>directions</mat-icon>
              <div mat-line><strong> Works with milestones: </strong>Yes</div>
            </mat-list-item>
            <mat-list-item class="full-height" *ngIf="bestMatch && bestMatch.data[0].technologies && bestMatch.data[0].technologies.length > 0">
              <mat-icon matListIcon>local_offer</mat-icon>
              <strong mat-line>Skills: </strong>
              <div matLine>
                <mat-chip-list role="listitem">
                  <mat-chip color="primary" selected *ngFor="let technology of this.bestMatch.data[0].technologies.split(',');">{{technology}}</mat-chip>
                </mat-chip-list>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="getTypeOfTask()">
              <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
              <div mat-line><strong> Offers the type task: </strong>{{ getTypeOfTask() }}</div>
            </mat-list-item>
            <mat-list-item *ngIf="bestMatch && bestMatch.data[0].hourly_rate">
              <mat-icon mat-list-icon>monetization_on</mat-icon>
              <div mat-line><strong> Hourly rate: </strong>$ {{bestMatch.data[0].hourly_rate}} USD</div>
            </mat-list-item>
            <mat-list-item *ngIf="bestMatch && getPaymentTime()">
              <mat-icon mat-list-icon>timer</mat-icon>
              <div mat-line><strong> Payment time: </strong>{{getPaymentTime()}}</div>
            </mat-list-item>
            <mat-list-item *ngIf="bestMatch && bestMatch.data[0].languages">
              <mat-icon mat-list-icon>language</mat-icon>
              <div mat-line><strong> Communication language: </strong>{{ bestMatch.data[0].languages }}</div>
            </mat-list-item>
            <mat-list-item *ngIf="bestMatch && bestMatch.data[0].highest_education">
              <mat-icon mat-list-icon>school</mat-icon>
              <div mat-line><strong> Highest education: </strong>{{ bestMatch.data[0].highest_education }}</div>
            </mat-list-item>
            <mat-list-item *ngIf="bestMatch && bestMatch.data[0].workload">
              <mat-icon mat-list-icon>work</mat-icon>
              <div mat-line><strong> Workload: </strong>{{ bestMatch.data[0].workload }}%</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
