@import "src/assets/sass/var"
@import "src/assets/sass/mixin"
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'

::ng-deep
  .mat-progress-bar
    display: none
    position: fixed !important
    top: 0
  .mat-progress-bar-fill::after
    background-color: $black

.container
  box-shadow: 0 5px 8px rgba(0,0,0,.28)
  width: 100%
  padding-bottom: 50px
.best-match
  background: url('src/assets/img/perfect-match-bg.png') center/100% no-repeat
  opacity: 0
  position: relative
  top: 300px
  .match-list
    padding: 0
    margin-top: -11px
  .call-to-action-area
    margin: 6px 0 20px
    .call-to-action
      background: #b38300
      border-radius: 0
      color: $white
    i
      font-size: 15px
      vertical-align: text-top
  h2
    color: #b38300
    font-size: 30px
    font-weight: 100
    letter-spacing: 10px
    margin-left: calc(31.5%/3)
    text-transform: uppercase
  h3
    display: inline-block
    font-weight: 500
  .match-content
    display: inline-block
    .name
      margin: 50px 0 0 0
    .location
      margin-top: -15px
    .profile-img
      border-radius: 5px
      display: block
      width: 150px
      height: 150px
      object-fit: cover
    .col-1
      text-align: center
      .profile-img
        display: inline-block
    .col-2
      .rank
        background: $black
        width: 50px
        height: auto
        color: $white
        font-size: 15px
        opacity: 0.65
        padding: 15px 0
        text-align: center
        border-radius: 100%
        float: right
        margin: 15px
      margin-top: 40px
      width: 500px
      mat-list
        color: $white
        height: 160px
        overflow: auto
        mat-icon
          color: darken($general, 15%)
          cursor: default
        strong
          color: #c2185b
          font-weight: 500
  &:before
    content: ""
    display: inline-block
    padding-top: calc((629/1448) * 100%)
    vertical-align: top

.smooth-appear
  animation: smooth-appear 2s
  animation-fill-mode: forwards
  +keyframes(smooth-appear)
    20%
      top: 0
    45%
      top: 20px
      opacity: 1
    100%
      top: 0
      opacity: 1

.fast-disappear
  opacity: 1
  top: 0
  animation: fast-disappear 1.5s
  animation-fill-mode: forwards
  +keyframes(fast-disappear)
    0%
      left: 0
    25%
      left: 75px
    85%
      opacity: 0
    100%
      left: -10000px
      opacity: 1

.full-height
  height: auto !important

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  border-radius: 10px

*::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
