<header>
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlexOffset="15" class="nav-bar" fxLayoutGap="81%">
      <a href="/">
        <img class="logo" alt="Tapalle" src="../../../assets/img/logo/logo_small_white.png">
      </a>
      <div class="pull-right" dir="rtl">

      </div>
    </div>
    <div fxFlex></div>
  </div>
</header>
