<header>
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlexOffset="15" class="nav-bar" fxLayoutGap="82%">
      <a href="/">
        <img class="logo" alt="Tapalle" src="../../../assets/img/logo/logo_small_white.png">
      </a>
      <div class="pull-right" dir="rtl">
        <ng-container *ngIf="profileImg; else icon">
          <a matRipple matRippleCentered href="edit-profile">
            <img matRipple matTooltip="Edit your profile" class="profile-img" [src]="apiBaseUrl + '/uploads/profile-images/' + profileImg" alt="{{username}}">
          </a>
        </ng-container>
          <ng-template #icon>
            <a matRipple matRippleCentered href="edit-profile">
              <button class="edit" mat-fab aria-label="Edit profile">
                <mat-icon>person</mat-icon>
              </button>
            </a>
          </ng-template>
        <mat-icon class="achievement">emoji_events</mat-icon>
        <mat-icon class="message">message</mat-icon>
      </div>
    </div>
    <div fxFlex></div>
  </div>
</header>
