@import 'src/assets/sass/var'

header
  background-color: $black
  box-shadow: 0 5px 8px rgba(0,0,0,.28)
  height: 50px
  opacity: 0.97
  position: fixed
  top: 0
  width: 100%
  z-index: 2
  a
    transition: inherit
  .profile-img
    width: 40px
    height: 40px
    object-fit: cover
    border-radius: 100%
    vertical-align: text-bottom
    position: relative
    top: 2px
  .logo
    height: 40px
  .edit
    cursor: pointer
    height: 35px
    width: 35px
    .mat-icon
      bottom: 10px
      position: relative
  .pull-right
    display: inline-block
    .achievement, .message
      cursor: pointer
      font-size: 20px
      margin-right: 10px
