@import "./src/assets/sass/var.sass"

::ng-deep
  .form-layout
    background: lighten($grey, 35%)
    border-radius: 2%
    padding: 20px
    input
      color: $black
    mat-form-field
      width: 100%
    figure
      flex-direction: column
      padding: 20px !important
    .submit
      background: lighten($black, 20%)
      border: 0
      color: #fff
      cursor: pointer
      margin-top: 20px
      padding: 10px
      transition: all 0.8s
      width: 100%
      &:hover
        background: $black
    .mat-form-field-label
      color: $black

.login-area
  color: $white
  height: calc(100vh - 260px)
  margin-top: 100px
  text-align: center
  a
    font-size: 14px

.left
  text-align: left
