<app-header-unsigned></app-header-unsigned>
<div class="login-area">
  <form autocomplete="on" action="" class="login-form" [formGroup]="loginFormGroup" (ngSubmit)="_onSubmit()">
    <div fxLayout="row" fxFlex.lt-md="column" fxFlexAlign="space-around center">
      <div fxFlex="30" fxFlexOffset="35" class="wrapper">
        <h1>Login</h1>
        <div class="form-layout">
          <mat-form-field>
            <label><input autocomplete="on" id="email" formControlName="email" required type="email" matInput placeholder="E-Mail"></label>
            <mat-error *ngIf="loginFormGroup.get('email').hasError('email')">E-Mail is not valid</mat-error>
            <mat-error *ngIf="loginFormGroup.get('email').hasError('required')">E-Mail is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <label><input autocomplete="on" id="password" formControlName="password" required type="password" matInput placeholder="Password"></label>
            <mat-error>Password is required</mat-error>
          </mat-form-field>
          <input class="submit" type="submit" value="Log in">
          <p><a matTooltip="This feature will be available soon. To get a new password, please get in touch with us." href="login#">I forgot my password</a></p>
          <p><a href="register">I don't have an account yet</a></p>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
