@import 'src/assets/sass/var'

footer
  position: relative
  .footer
    background-color: $black
    color: $grey
    font-size: 13px
    padding-bottom: 30px
    h5
      color: $white
      font-size: 18px
      margin-bottom: 15px
    .underline
      width: 30px
      height: 1px
      background-color: $white
    ul
      padding: 0
      li
        line-height: 25px
        list-style: none
    a
      color: inherit
      line-height: 25px
      text-decoration: none
      transition: all 0.25s
      &:hover
        color: $white
    .logo
      width: 150px
      height: auto
    .contact
      .contact-details
        margin-top: 15px
      mat-icon
        color: $white
        font-size: 18px
        margin-right: 10px
        margin-top: 2px
      a, div
        color: $grey
        vertical-align: top
        a:hover
          color: $white
      .location
        float: left
      .address
        display: inline-block
        line-height: 20px
        span
          color: $pink
    .social-media
      margin-top: 15px
      img
        margin-right: 5px
        transition: all 0.5s
        width: 30px
        &:hover
          width: 35px
  .copyright
    background-color: darken($black, 5%)
    color: $white
    font-size: 10px
    padding: 10px
    text-align: center

