<footer>
  <div class="footer" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
    <div fxFlex="70" fxFlexOffset="15">
      <div fxFlex>
        <img alt="Tapalle" src="../../../assets/img/logo/logo_white.png" height="534" class="logo">
      </div>
      <div fxFlex>
        <h5>Tutorials</h5>
        <div class="underline"></div>
        <ul>
          <li>
            <a href="#">Find the perfect match
            </a>
          </li>
          <li>
            <a href="#">Get more leads</a>
          </li>
        </ul>
      </div>
      <div fxFlex>
        <h5>Company</h5>
        <div class="underline"></div>
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="contact" fxFlex>
        <h5>Contact us</h5>
        <div class="underline"></div>
        <div class="contact-details">
          <mat-icon class="location">my_location</mat-icon><div class="address"><span>Your Click GmbH</span><br>Herrligstrasse 28<br>8048 Zürich</div>
          <br>
          <mat-icon>phone</mat-icon> <a href="tel:+41 44 558 97 49">+41 44 558 97 49</a><br>
          <mat-icon>mail</mat-icon><a href="mailto:info@yourclick.ch">info@yourclick.ch</a><br>
        </div>
      </div>
      <div class="follow-us" fxFlex>
        <h5>Follow us</h5>
        <div class="underline"></div>
        <div class="social-media">
          <a href="#"><img alt="Facebook" src="../../../assets/img/facebook.png"></a>
          <a href="#"><img alt="LinkedIn" src="../../../assets/img/linkedin.png"></a>
          <a href="#"><img alt="Twitter" src="../../../assets/img/twitter.png"></a>
        </div>
      </div>
    </div>
    <div fxFlex></div>
  </div>
  <div class="copyright">@{{date}} Tapalle, powered by Your Click GmbH</div>
</footer>

