<app-header></app-header>
<div class="profile-area" [formGroup]="this.profileFormGroup">
    <div fxLayout="row" fxFlex.lt-md="column" fxFlexAlign="space-around center">
      <div fxFlex="50" fxFlexOffset="25" class="wrapper">

        <div class="profile-img-container">
          <img #theProfileImage (click)="uploadProfileImage.click()"  matTooltip="Change the profile image" src="../assets/img/user-128.png" alt="profile image" class="profile-img">
          <input (change)="uploadImage($event.target)" hidden accept="image/*" #uploadProfileImage type="file">
        </div>
        <mat-error *ngIf="profileImageError">The size of your image should has the format PNG, JPG or GIF and its size should not be larger than 5MB.</mat-error>

        <h2>Personal</h2>

        <!-- Gender -->
        <p class="question">Are you male or female?</p>
        <mat-form-field>
          <mat-label>I am &hellip;</mat-label>
          <mat-select #gender (selectionChange)="update('personal', 'gender', gender.value)" formControlName="gender">
            <mat-option value="f">Female</mat-option>
            <mat-option value="m">Male</mat-option>
          </mat-select>
          <mat-spinner *ngIf="loading === 'gender'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'gender'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>
        <!-- First name -->
        <p class="question">What's your name?</p>
        <mat-form-field>
          <label><input #firstName (blur)="update('personal', 'firstName', firstName.value)" formControlName="firstName" type="text" matInput placeholder="My first name is 	&hellip;"></label>
          <mat-spinner *ngIf="loading === 'firstName'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'firstName'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Last name -->
        <mat-form-field>
          <label><input #lastName (blur)="update('personal', 'lastName', lastName.value)" formControlName="lastName" type="text" matInput placeholder="My last name is 	&hellip;"></label>
          <mat-spinner *ngIf="loading === 'lastName'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'lastName'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Date of birth -->
        <p class="question">What's your date of birth?</p>
        <mat-form-field>
          <label><input #dateOfBirth matInput (blur)="update('personal', 'dateOfBirth', dateOfBirth.value)" (click)="picker.open()" [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateOfBirth" autocomplete="off" [max]="maxDate" [min]="minDate"></label>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker startView="multi-year"></mat-datepicker>
          <mat-error *ngIf="profileFormGroup.get('dateOfBirth').errors">Date is not valid</mat-error>
          <mat-spinner *ngIf="loading === 'dateOfBirth'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'dateOfBirth'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Description -->
        <p class="question">How would you describe yourself?</p>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <label><textarea #description (blur)="update('personal', 'description', description.value)" formControlName="description" name="description" id="description" required cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="50" matInput placeholder="E.g., &bdquo;I am a professional web developer and have 5 years of experience in frontend and backend &hellip;&ldquo;"></textarea></label>
          <mat-spinner *ngIf="loading === 'description'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'description'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Role -->
        <p class="question">Are you a private user or on behalf of a company?</p>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select #role (selectionChange)="update('personal', 'role', role.value)" formControlName="role">
            <mat-option value="private">I am a private user</mat-option>
            <mat-option value="company">I am here on behalf of a company</mat-option>
          </mat-select>
          <mat-spinner *ngIf="loading === 'role'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'role'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

          <!-- City -->
          <p class="question">What's your location?</p>
          <mat-form-field>
            <label><input #city (blur)="update('personal', 'city', city.value)" formControlName="city" type="text" matInput placeholder="City"></label>
            <mat-spinner *ngIf="loading === 'city'" class="spinner" diameter="20"></mat-spinner>
            <i *ngIf="saved === 'city'" class="saved spinner material-icons">check_circle</i>
          </mat-form-field>

        <!-- Country -->
        <mat-form-field>
          <label><input #countryInput (blur)="update('personal', 'country', countryInput.value)" autocomplete="stop" name="country" type="text" placeholder="Country" matInput formControlName="country" [matAutocomplete]="country"></label>
          <mat-autocomplete #country="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let country of (countries | country:countryInput.value )" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-spinner *ngIf="loading === 'country'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'country'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Communication language -->
        <p class="question">What's your preferred communication language?</p>
        <mat-form-field>
          <label><input #languageInput (blur)="update('languages', 'language', languageInput.value)" autocomplete="stop" name="language" type="text" placeholder="Language" matInput formControlName="language" [matAutocomplete]="language"></label>
          <mat-autocomplete #language="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let language of (languages | language:languageInput.value )" [value]="language.name">
              {{language.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-spinner *ngIf="loading === 'language'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'language'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <h2>Skills</h2>
        <!-- Technologies -->
        <p class="question">What technologies are you very advanced with?</p>
        <mat-form-field class="chip-list" (click)="tech.focus()">
          <mat-chip-list #chipList aria-label="Technology selection">
            <mat-chip *ngFor="let technology of technologies" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(technology)">
              {{technology}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <label><input #tech (blur)="update('technologies', 'tech', technologies.toString())" placeholder="E.g., Word, Excel, Photoshop, HTML, SQL, C++ &hellip;"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                          formControlName="technologies"
            >
            </label>
          </mat-chip-list>
          <mat-spinner *ngIf="loading === 'tech'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'tech'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Highest education -->
        <p class="question">What's your highest education level?</p>
        <mat-form-field>
          <mat-label>Highest education</mat-label>
          <mat-select #highestEducation (selectionChange)="update('skills', 'highestEducation', highestEducation.value)" formControlName="highestEducation">
            <mat-option value="High school graduate">High school graduate</mat-option>
            <mat-option value="Associate degree">Associate degree</mat-option>
            <mat-option value="Bachelor's degree">Bachelor's degree</mat-option>
            <mat-option value="Master's degree">Master's degree</mat-option>
            <mat-option value="Doctoral degree">Doctoral degree</mat-option>
            <mat-option value="Professorship">Professorship</mat-option>
          </mat-select>
          <mat-spinner *ngIf="loading === 'highestEducation'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'highestEducation'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <h2>Work</h2>
        <!-- Workload -->
        <p class="question">What's your highest workload, when working for a task?</p>
        <mat-form-field>
          <label><input #workload (blur)="update('work', 'workload', workload.value)" formControlName="workload" name="workload" id="wanted-workload" matInput placeholder="Workload" type="number" max="200" appNumbersOnly></label>
          <mat-error *ngIf="profileFormGroup.controls.workload.hasError('max')">Workload is too high</mat-error>
          <span matPrefix>% </span>
          <mat-spinner *ngIf="loading === 'workload'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'workload'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Type of tasks -->
        <section class="type-of-task">
          <p class="question">
            What type of task would you accept to work for?
            <mat-spinner *ngIf="loading === 'project' || loading === 'feature' || loading === 'bugfix' || loading === 'other'" class="spinner spinner-4-checkboxes" diameter="18"></mat-spinner>
            <i *ngIf="saved === 'project' || saved === 'feature' || saved === 'bugfix' || saved === 'other'" class="saved saved-checkboxes spinner material-icons">check_circle</i>
          </p>
          <mat-checkbox #project (change)="update('typeOfTask', 'project', project.checked)" formControlName="project">Project</mat-checkbox>
          <mat-checkbox #feature (change)="update('typeOfTask', 'feature', feature.checked)" formControlName="feature">Feature</mat-checkbox>
          <mat-checkbox #bugfix (change)="update('typeOfTask', 'bugfix', bugfix.checked)" formControlName="bugfix">Bugfix</mat-checkbox>
          <mat-checkbox #other (change)="update('typeOfTask', 'other', other.checked)" formControlName="other">Others</mat-checkbox>
        </section>

        <!-- Milestones -->
        <div class="milestones">
          <p class="question">Some clients would like to work with milestones. Would you accept that?
            <mat-spinner *ngIf="loading === 'milestones'" class="spinner spinner-4-checkboxes" diameter="18"></mat-spinner>
            <i *ngIf="saved === 'milestones'" class="saved saved-checkboxes spinner material-icons">check_circle</i>
          </p>
          <mat-checkbox #milestones (change)="update('work', 'milestones', milestones.checked)" formControlName="milestones">Yes, I agree working with milestones</mat-checkbox>
        </div>

        <h2 id="payment">Payment</h2>
        <!-- Hourly rate -->
        <p class="question" style="margin-top: 20px">What's your hourly rate?</p>
        <mat-form-field>
          <mat-label>Hourly rate</mat-label>
          <label><input #hourlyRate (blur)="update('payment', 'hourlyRate', hourlyRate.value)" formControlName="hourlyRate" autocomplete="off" name="hourlyRate" id="wanted-hourly-rate" matInput placeholder="e.g., 50" type="number" appNumbersOnly></label>
          <span matPrefix>$</span>
          <mat-spinner *ngIf="loading === 'hourlyRate'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'hourlyRate'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

        <!-- Payment time -->
        <p class="question">When should payment be made?</p>
        <mat-form-field>
          <mat-label>Payment time</mat-label>
          <mat-select #payday (selectionChange)="update('payment', 'payday', payday.value)" formControlName="payday" id="wanted-payment-time">
            <mat-option value="before">Before</mat-option>
            <mat-option value="after">After</mat-option>
            <mat-option value="beforeAfter">50% before, 50% after</mat-option>
            <mat-option value="afterMilestone">After each milestone</mat-option>
          </mat-select>
          <mat-spinner *ngIf="loading === 'payday'" class="spinner" diameter="20"></mat-spinner>
          <i *ngIf="saved === 'payday'" class="saved spinner material-icons">check_circle</i>
        </mat-form-field>

      </div>
    </div>
</div>

<app-footer></app-footer>
