@import 'src/assets/sass/var'
@import "src/assets/sass/mixin"

.profile-area
  margin-top: 51px
  text-align: center
  .wrapper
    background-color: $grey
    padding: 50px 50px 10px 50px
    text-align: left
    h2
      color: $white
    .mat-select-value, input, textarea
      color: $black
    .mat-form-field-flex
      margin-top: 10px
    .mat-form-field, .milestones
      margin-bottom: 30px
    .type-of-task
      margin-bottom: 50px
    #payment
      margin-top: 60px
    .profile-img-container
      text-align: center
      .profile-img
        border-radius: 100%
        box-shadow: 1px 5px 8px 0 $black
        transition: all 0.2s
        width: 150px
        height: 150px
        object-fit: cover
        &:hover
          box-shadow: 0 0 0 0
          cursor: pointer
          filter: brightness(0.75)
          opacity: 0.75
    .question
      margin: 0
    .spinner
      color: darken($success, 15%)
      position: absolute
      right: 10px
      bottom: 5px
    .spinner-4-checkboxes
      position: inherit
      display: inline-block
      vertical-align: top
    .saved-checkboxes
      position: inherit
      vertical-align: top
      font-size: 19px
    .saved
      animation: slow-hide 2s
      animation-fill-mode: forwards
      +keyframes(slow-hide)
        80%
          opacity: 1
        100%
          opacity: 0
.mat-form-field
  width: 350px
.mat-checkbox
  display: block
  margin: 10px 0


