@import ./assets/sass/var
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')

// Remove arrows from input[type=number]
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
input[type=number]
  -moz-appearance: textfield

body
  background-color: lighten($black, 8%)
  font-weight: 100

a
  color: $pink
  transition: all 0.75s
  &:hover
    color: $black

h1
  font-family: "Lato", sans-serif
  font-weight: 100
  font-size: 40px

h2
  font-family: "Lato", sans-serif
  font-weight: 100

// Left align the grid
.mat-grid-tile .mat-figure
  justify-content: flex-start !important
  align-items: flex-start !important

.full-width
  width: 100% !important

.overlay-wrapper
  background-color: lighten($black, 40%)

[hidden]
  display: none !important

.mat-snack-bar-error
  background-color: $error
  color: $white
.mat-snack-bar-warning
  background-color: $warning
  color: $white
.mat-snack-bar-success
  background-color: $success
  color: $white
