/* VARIABLES */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: #404040;
  font-weight: 100;
}

a {
  color: #ec4c7d;
  transition: all 0.75s;
}
a:hover {
  color: #2c2c2c;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 40px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.full-width {
  width: 100% !important;
}

.overlay-wrapper {
  background-color: #929292;
}

[hidden] {
  display: none !important;
}

.mat-snack-bar-error {
  background-color: #a90606;
  color: #e3e6ec;
}

.mat-snack-bar-warning {
  background-color: #cc9600;
  color: #e3e6ec;
}

.mat-snack-bar-success {
  background-color: #40ba44;
  color: #e3e6ec;
}

/*# sourceMappingURL=styles.css.map */
