<mat-progress-bar class="main-loader" #progressBar mode="indeterminate" value="warn" [attr.hidden]="endOfLoading"></mat-progress-bar>
<div fxFlex="70" fxFlexOffset="15" class="overlay-wrapper" fxLayoutAlign="center space-around">
  <form fxFlex action="" id="custom-form" [ngClass]="getSelectedSection()" #customForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="autofill-area" *ngIf="autoFillExists">
      <span *ngIf="autofillPercent">Autofill probability: {{ autofillPercent }}</span>
      <div (click)="autofill()" matTooltip="Autofill the form" class="autofill-btn" matRipple matRippleColor="#c2185b">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="empty-block" *ngIf="!autoFillExists"></div>
    <!-- Person -->
    <div class="form-layout section-person" [ngClass]="(getSelectedSection() === 'person') ? 'display' : ''">
      <mat-grid-list cols="5" rowHeight="70px">
        <!-- Gender -->
        <mat-grid-tile>
          <div [attr.about]="technologies" [attr.son-yo]="technologies" class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="gender" name="gender" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field fxFlex [formGroup]="this.primaryFormGroup">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" id="wanted-gender">
              <mat-option value="f">Female</mat-option>
              <mat-option value="m">Male</mat-option>
              <mat-option value="never-mind">Doesn't matter</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Role -->
        <mat-grid-tile>
          <div class="important">
            <mat-checkbox name="role" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field fxFlex>
            <mat-label>Role</mat-label>
            <mat-select id="role">
              <mat-option value="private">Private</mat-option>
              <mat-option value="Company">Company</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- City -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="city" name="city" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field fxFlex [formGroup]="this.primaryFormGroup">
            <label><input formControlName="city" autocomplete="stop" name="city" id="wanted-city" matInput placeholder="City"></label>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Country -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="country" name="country" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <input #countryInput autocomplete="stop" name="country" type="text" placeholder="Country" matInput formControlName="country" [matAutocomplete]="country">
            <mat-autocomplete #country="matAutocomplete" autoActiveFirstOption>
                <mat-option *ngFor="let country of (countries | country:countryInput.value )" [value]="country.name">
                {{country.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Communication language -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="language" name="language" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <label><input #languageInput autocomplete="stop" name="language" type="text" placeholder="Language" matInput formControlName="language" [matAutocomplete]="language"></label>
            <mat-autocomplete #language="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let language of (languages | language:languageInput.value )" [value]="language.name">
                {{language.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Highest education level -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="highestEducation" name="highestEducation" id="wanted-highest-education" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <mat-label>Highest education</mat-label>
            <mat-select formControlName="highestEducation">
              <mat-option value="high school graduate">High school graduate</mat-option>
              <mat-option value="associate degree">Associate degree</mat-option>
              <mat-option value="bachelor's degree">Bachelor's degree</mat-option>
              <mat-option value="master's degree">Master's degree</mat-option>
              <mat-option value="doctoral degree">Doctoral degree</mat-option>
              <mat-option value="professorship">Professorship</mat-option>
              <mat-option value="never-mind">Doesn't matter</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Age -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="dateOfBirth" name="dateOfBirth" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <mat-label>Average age</mat-label>
            <mat-select formControlName="dateOfBirth">
              <ng-container *ngFor="let i of [].constructor(100), let x = index">
                <mat-option *ngIf="x >= 16" value="{{x}}">{{x}}</mat-option>
              </ng-container>
              <mat-option value="never-mind">Doesn't matter</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Workload -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="workload" name="workload" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <label><input formControlName="workload" name="workload" id="wanted-workload" matInput placeholder="Workload" type="number" max="200" appNumbersOnly></label>
            <mat-error *ngIf="primaryFormGroup.controls.workload.hasError('max')">Workload is too high</mat-error>
            <span matPrefix>% </span>
          </mat-form-field>
        </mat-grid-tile>
          <!-- Fast reaction time -->
        <mat-grid-tile class="checkbox-height">
          <mat-checkbox id="wanted-fast-reaction-time">Fast Reaction time</mat-checkbox>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- General -->
    <div matRipple class="form-layout section-general" [ngClass]="(getSelectedSection() === 'general' || getSelectedSection() === undefined) ? 'display' : ''">
      <div fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="primaryFormGroup">
          <!-- Title -->
          <mat-form-field>
            <mat-label>Title</mat-label>
            <label><input formControlName="title" name="title" id="title" autocomplete="off" required matInput placeholder="E.g., &bdquo;Online Shop Website&ldquo;"></label>
            <mat-error *ngIf="primaryFormGroup.controls.title.hasError('required')">Title is <strong>required</strong></mat-error>
            <mat-error *ngIf="primaryFormGroup.controls.title.hasError('minlength')">Title must be at least 5 characters</mat-error>
          </mat-form-field>
        <!-- Description -->
        <mat-form-field>
          <mat-label>Description</mat-label>
          <label><textarea formControlName="description" name="description" id="description" required cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="50" matInput placeholder="E.g., &bdquo;A professional online shop that looks good and ...&ldquo;"></textarea></label>
          <mat-error *ngIf="primaryFormGroup.controls.description.hasError('required')">Description is <strong>required</strong></mat-error>
          <mat-error *ngIf="primaryFormGroup.get('description').hasError('minlength')">Description must be at least 30 characters</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Type of task -->
    <div class="form-layout section-type-of-task" [ngClass]="(getSelectedSection() === 'type-of-task') ? 'display' : ''">
      <div fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="this.primaryFormGroup">
        <!-- List of types -->
        <mat-radio-group formControlName="typeOfTask" name="type-of-task">
          <mat-radio-button matTooltip="Starting a new project" value="project">Project</mat-radio-button>
          <mat-radio-button matTooltip="A feature for an existing project" value="feature">Feature</mat-radio-button>
          <mat-radio-button matTooltip="Fixing a bug" value="bugfix">Bugfix</mat-radio-button>
          <mat-radio-button matTooltip="Anything else" value="other">Other</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- Price -->
    <div class="form-layout section-price" [ngClass]="(getSelectedSection() === 'price') ? 'display' : ''">
      <mat-grid-list cols="2" rowHeight="70px">
        <!-- Hourly rate -->
        <mat-grid-tile>
          <div class="important" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="hourlyRate" name="hourlyRate" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <mat-label>Hourly rate</mat-label>
            <label><input formControlName="hourlyRate" autocomplete="off" name="hourlyRate" id="wanted-hourly-rate" matInput placeholder="e.g., 50" type="number" appNumbersOnly></label>
            <span matPrefix>$</span>
            <mat-hint>What is the average price per hour that you would pay?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Payment time -->
        <mat-grid-tile>
          <div class="important pixel-up" [formGroup]="this.importantFormGroup">
            <mat-checkbox formControlName="paymentTime" matTooltip="This value is very important!" labelPosition="before" color="warn"></mat-checkbox>
          </div>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <mat-label>Payment time</mat-label>
            <mat-select formControlName="paymentTime" id="wanted-payment-time">
              <mat-option value="before">Before</mat-option>
              <mat-option value="after">After</mat-option>
              <mat-option value="before_after">50% before, 50% after</mat-option>
              <mat-option value="after_milestone">After each milestone</mat-option>
            </mat-select>
            <mat-hint>When should the payment be done?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Minimal price -->
        <mat-grid-tile>
          <mat-form-field [formGroup]="this.primaryFormGroup">
            <mat-label>Minimal price</mat-label>
            <label><input #minPrice formControlName="minPrice" name="minPrice" autocomplete="off" id="wanted-min-price" matInput placeholder="e.g., 500" type="number" appNumbersOnly></label>
            <span matPrefix>$ &nbsp;</span>
            <mat-hint>What is the minimal price that you would pay?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Maximal price -->
        <mat-grid-tile [formGroup]="this.primaryFormGroup">
          <mat-form-field>
            <mat-label>Maximal price</mat-label>
            <label><input #maxPrice formControlName="maxPrice" name="maxPrice" autocomplete="off" id="wanted-max-price" matInput placeholder="e.g., 10.000" type="number" appNumbersOnly></label>
            <span matPrefix>$ &nbsp;</span>
            <mat-error *ngIf="primaryFormGroup.get('maxPrice').hasError('minIsGreaterThanMax')">Minimum price is greater than maximum price</mat-error>
            <mat-hint>What is the maximal price that you would pay?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!-- Deadline -->
    <div class="form-layout section-deadline" [ngClass]="(getSelectedSection() === 'deadline') ? 'display' : ''" [formGroup]="this.primaryFormGroup">
      <mat-grid-list cols="2" rowHeight="70px">
        <!-- From -->
        <mat-grid-tile>
          <mat-form-field (click)="start.open()">
            <label><input #dateFrom formControlName="deadlineFrom" name="deadlineFrom" autocomplete="off" id="wanted-deadline-start" matInput [min]="minDate" [matDatepicker]="start" placeholder="Choose a starting date"></label>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker touchUi #start></mat-datepicker>
            <mat-hint>When should the task start?</mat-hint>
            <mat-error *ngIf="primaryFormGroup.get('deadlineFrom').errors">Date is not valid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Until -->
        <mat-grid-tile>
          <mat-form-field (click)="end.open()">
            <label><input #dateUntil formControlName="deadlineUntil" name="deadlineUntil" autocomplete="off" id="wanted-deadline-end" matInput [min]="minDate" [matDatepicker]="end" placeholder="Choose an ending date"></label>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker touchUi #end></mat-datepicker>
            <mat-hint>When should the task end?</mat-hint>
            <mat-error *ngIf="primaryFormGroup.get('deadlineUntil').hasError('matDatepickerParse')">Date is not valid</mat-error>
            <mat-error *ngIf="primaryFormGroup.get('deadlineUntil').hasError('minDateIsGreaterThanMaxDate')">End date is earlier than start date</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!-- Project -->
    <div class="form-layout section-project" [ngClass]="(getSelectedSection() === 'project') ? 'display' : ''">
      <mat-grid-list cols="2" rowHeight="70px">
        <!-- Technologies -->
        <mat-grid-tile [formGroup]="this.primaryFormGroup">
          <mat-chip-list #chipList class="full-width">
            <mat-chip *ngFor="let currentTechnology of currentTechnologies" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(currentTechnology)">
              {{currentTechnology.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <label class="full-width">
                <input matInput #techInput
                       (keyup)="onKeyUp($event)"
                       [matAutocomplete]="auto"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"
                       (focusin)="techInput.placeholder = 'E.g. Word, Photoshop, HTML, C++ &hellip;'"
                       (focusout)="techInput.placeholder = 'Technologies'"
                       placeholder="Technologies"
                       name="tech"
                       formControlName="technologies"
                       class="tech-field"
                >
            </label>
          </mat-chip-list>

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected()">
              <mat-option *ngFor="let data of technologies" [value]="data.technology">
                <span matBadge="{{data.counter}}" matBadgeOverlap="false">{{data.technology}} </span>
              </mat-option>
            </mat-autocomplete>
        </mat-grid-tile>
        <!-- Milestones -->
        <mat-grid-tile [formGroup]="this.primaryFormGroup">
          <mat-checkbox formControlName="milestones" name="milestones" matTooltip="The project should progress step by step" matTooltipPosition="right" id="wanted-milestones">Milestones</mat-checkbox>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <button type="submit" mat-fab color="primary" class="custom-form-submit"><mat-icon>search</mat-icon></button>
  </form>
</div>
