@import 'src/assets/sass/var'

::ng-deep
  .important + mat-form-field .mat-form-field-infix
    left: 10px // Move the input content to right
  .cdk-overlay-pane
    min-width: 212px
  mat-checkbox, mat-radio-button, .mat-form-field-label, .mat-select-value, input
    color: $black !important
    font-weight: normal

.overlay-wrapper
  height: 190px
  form
    position: relative
    bottom: 63px
    .autofill-area
      text-align: right
      .autofill-btn
        background-color: $black
        text-align: center
        cursor: pointer
        padding: 8px
        display: inline-block
        border-radius: 100%
        color: #fff
        position: relative
        top: 25px
        z-index: 1
        mat-icon
          font-size: 18px
          position: relative
          z-index: 1
    padding: 0 55px 10px 55px
    &:before
      color: lighten($general, 20%)
      content: "\25B2"
      left: 7.4%
      position: relative
      top: 48px
    .custom-form-submit
      float: right
      margin-top: -30px
  .project::before
    color: lighten($project, 20%)
    left: 24.2%
  .type-of-task::before
    color: lighten($typeOfTask, 20%)
    left: 41%
  .price::before
    color: lighten($price, 20%)
    left: 57.8%
  .deadline::before
    color: lighten($deadline, 20%)
    left: 74.7%
  .general::before
    color: lighten($general, 20%)
    left: 7.4%
  .person::before
    color: lighten($person, 20%)
    left: 91.5%

.empty-block
  margin-top: 44px
.form-layout
  border-radius: 0 0 5px 5px
  display: none
  padding: 25px
  #title, #description
    &::placeholder
      color: lighten($black, 40%)
  .tech-field
    border-bottom: 1px solid $white
    width: 95%
  mat-form-field
    width: 100%
    margin-right: 15px
  span[matPrefix]
    color: #ffffff
  .checkbox-height
    top: calc(100% - 55px) !important
  .important
    margin-top: 16px
    + * mat-hint, + * span[matPrefix]
      margin-left: 10px
    label
      display: none !important
    mat-checkbox ::ng-deep .mat-checkbox-inner-container
      width: 30px
      height: 30px
    ::ng-deep mat-checkbox .mat-checkbox-frame
      border-width: 1px
    // Used for red "!". Not needed for now
    //.mat-checkbox
    //  color: $deadline
    //  font-size: 25px
    //  font-weight: lighter
  .pixel-up
    margin-top: 15px

// Sections
.section-general
  background-color: lighten($general, 20%)
.section-project
  background-color: lighten($project, 20%)
.section-type-of-task
  background-color: lighten($typeOfTask, 20%)
.section-price
  background-color: lighten($price, 20%)
.section-deadline
  background-color: lighten($deadline, 20%)
  mat-error
    color: darken($deadline, 20%)
.section-person
  background-color: lighten($person, 20%)

.mat-radio-button ~ .mat-radio-button
  margin-left: 16px

.display
  display: block !important
