<app-header-unsigned></app-header-unsigned>

<div class="section1">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <img class="screenshot" src="assets/img/header-bg.png" alt="The interface of Tapalle">
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="msg">
        <h1>We <span class="love">❤</span> tasks!</h1>
        <p><span>Delegate your task</span> to someone who is able to do it for you</p>
        <p class="or">OR</p>
        <p><span>Get leads</span> to earn money, to get new connections or just to learn more.</p>
        <p class="cursive">It's free.</p>
        <a href="register">
          <button mat-raised-button color="primary">Sign up</button>
        </a>
        <a href="login">
          <button mat-raised-button color="accent">Log in</button>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-footer></app-footer>
