@import 'src/assets/sass/var'
@import 'src/assets/sass/mixin'
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap')

$list: $general 0%, $general 60%, $black 100%
.section1
  background: lighten($grey, 40%)
  height: calc(100vh - 230px)
  padding: 200px 0 20px 20px
  text-align: center
  font-weight: 100
  width: 100%
  h1
    font-size: 40px
    font-weight: 100
    font-family: 'Parisienne', cursive
  .cursive
    font-size: 25px
    font-family: 'Parisienne', cursive
  .or
    font-size: 25px
  span, .or
    color: $pink
  .love
    color: $deadline
  button
    border-radius: 0
    margin: 20px 5px 0 5px
    width: 200px
  .screenshot
    height: 800px
    margin: 0 auto
