@import 'src/assets/sass/var'

::ng-deep
  .form-layout
    background: lighten($grey, 35%)
    border-radius: 2%
    input
      color: $black
    mat-form-field
      width: 100%
    input
      color: $black
    figure
      flex-direction: column
      padding: 20px !important
      .submit
        background: lighten($black, 20%)
        border: 0
        color: #fff
        cursor: pointer
        margin-top: 20px
        padding: 10px
        transition: all 0.8s
        width: 100%
        &:hover
          background: $black
      .mat-form-field-label
        color: $black

.register-area
  color: $white
  height: calc(100vh - 260px)
  margin-top: 100px
  text-align: center
  .wrapper
    text-align: left
    a
      font-size: 14px
    ul
      list-style: none
      padding: 0
      li:before
        content: '✓  '
        color: forestgreen
        font-size: 25px
    form
      background: red
      padding: 20px
