<app-header-unsigned></app-header-unsigned>

<div class="register-area">
  <form #registerForm action="" class="register-form" [formGroup]="registerFormGroup" (ngSubmit)="_onSubmit()">
    <h1>Register</h1>
    <div fxLayout="row" fxFlex.lt-md="column" fxFlexAlign="space-around center">
      <div fxFlex="50" fxFlexOffset="25" class="wrapper">
        <h2>Your benefits</h2>
        <mat-grid-list cols="2">
          <mat-grid-tile class="content">
            <ul>
              <li>Create a task and find the best match for your requirements</li>
              <li>Share your skills and get paid for your work</li>
              <li>Get more experience with your business</li>
              <li>Be a member for free</li>
            </ul>
          </mat-grid-tile>
          <mat-grid-tile class="form-layout">
            <mat-form-field>
              <label><input formControlName="email" required type="email" matInput placeholder="E-Mail"></label>
              <mat-error>E-Mail is not valid</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label><input formControlName="password" required type="password" matInput placeholder="Password"></label>
              <mat-error>Password must contain at least <strong>8 characters</strong>, including at least <strong>1 number</strong>, <strong>1 letter</strong> and <strong>1 special character</strong></mat-error>
            </mat-form-field>
            <input class="submit" type="submit" value="Register">
            <p><a href="login">I already have an account</a></p>
            <small>By clicking “Register”, you agree to our terms of service, privacy policy and cookie policy</small>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
