@import 'src/assets/sass/var'
.sections
  margin-top: 50px
  .overlay-wrapper
    background-color: lighten($black, 20%)
    box-shadow: 0 0 10px 0 rgba(34, 9, 6, 0.48)
    padding: 50px 50px 50px 50px
  .box
    background-color: #fff
    cursor: pointer
    height: 200px
    margin: 0 5px 0 5px
    text-align: center
    &:hover > .open
      color: $white
    .open
      background: $white
      /* border-radius: 0 0 10px 10px  The background color is white. When using this attribute, the background is still visible. HTML needs to be fixed. */
      cursor: pointer
      padding: 5px 0 1px 0
      position: relative
      top: 13px
      width: 100%
    .input-counter
      position: relative
      top: 40px
      left: 50px
    .icon
      border-radius: 100%
      height: 80px
      margin: 30px auto 10px auto
      width: 80px
    .icon-general
      background: url("src/assets/img/icon-general-yellow1.png") lighten($general, 45%) no-repeat center
    .icon-project
      background: url("src/assets/img/icon-project-violet.png") lighten($project, 40%) no-repeat center
    .icon-type-of-task
      background: url("src/assets/img/icon-type-of-task-blue.png") lighten($typeOfTask, 55%) no-repeat center
    .icon-price
      background: url("src/assets/img/icon-price-green.png") lighten($price, 55%) no-repeat center
    .icon-deadline
      background: url("src/assets/img/icon-deadline-red.png") lighten($deadline, 50%) no-repeat center
    .icon-person
      background: url("src/assets/img/icon-person-brown.png") lighten($person, 40%) no-repeat center
  .general-active
    background-color: lighten($general, 20%)
    .open
      background-color: $general
  .project-active
    background-color: lighten($project, 20%)
    .open
      background-color: $project
  .type-of-task-active
    background-color: lighten($typeOfTask, 20%)
    .open
      background-color: $typeOfTask
  .price-active
    background-color: lighten($price, 20%)
    .open
      background-color: $price
  .deadline-active
    background-color: lighten($deadline, 20%)
    .open
      background-color: $deadline
  .person-active
    background-color: lighten($person, 20%)
    .open
      background-color: $person
  .general
    &:hover > .open
      background: $general
  .project
    &:hover > .open
      background: $project
  .type-of-task
    &:hover > .open
      background: $typeOfTask
  .price
    &:hover > .open
      background: $price
  .deadline
    &:hover > .open
      background: $deadline
  .person
    &:hover > .open
      background: $person

