<div class="sections">
  <div fxLayout="row" fxFlex.lt-md="column" fxFlexAlign="space-around center">
    <div fxFlex="70" fxFlexOffset="15" class="overlay-wrapper">
      <div matRipple fxFlex class="box general" (click)="toggleSection('general')" [ngClass]="currentSection == 'general' || currentSection === undefined ? 'general-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-general"></div>
        General
        <div class="open open-general">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div matRipple fxFlex class="box project" (click)="toggleSection('project')" [ngClass]="currentSection == 'project' ? 'project-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-project"></div>
        Project
        <div class="open open-project">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div matRipple fxFlex class="box type-of-task" (click)="toggleSection('type-of-task')" [ngClass]="currentSection == 'type-of-task' ? 'type-of-task-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-type-of-task"></div>
        Type of task
        <div class="open open-type-of-task">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div matRipple fxFlex class="box price" (click)="toggleSection('price')" [ngClass]="currentSection == 'price' ? 'price-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-price"></div>
        Price
        <div class="open open-price">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div matRipple fxFlex class="box deadline" (click)="toggleSection('deadline')" [ngClass]="currentSection == 'deadline' ? 'deadline-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-deadline"></div>
        Deadline
        <div class="open open-deadline">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div matRipple fxFlex class="box person" (click)="toggleSection('person')" [ngClass]="currentSection == 'person' ? 'person-active' : ''">
        <span class="input-counter">0</span>
        <div class="icon icon-person"></div>
        Person
        <div class="open open-person">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
